$primary-color: #405fff;
$dark-color: #0e0d16;

// start info_about
.info_about {
  padding: 70px 0;

  .line {
    .image {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .text {
      margin-top: 20px;

      .title {
        font-weight: 700;
        font-size: 30px;
      }

      .desc {
        font-weight: 500;
        color: gray;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width: 768px) {
  .info_about {
    padding: 30px 0;

    .line {
      .image {
        img {
          height: 250px;
        }
      }

      .text {
        .title {
          font-size: 20px;
        }

        .desc {
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
// end info_about

// start about_team
.about_team {
  padding: 70px 0;
  background-color: #eff2f7;

  .subtitle {
    font-weight: 600;
    font-size: 20px;
    color: $primary-color;
  }

  .title {
    font-weight: 700;
    font-size: 40px;
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 60px;

    .box {
      text-align: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
      }

      .text {
        h4 {
          margin-bottom: 0;
          font-weight: 700;
        }

        span {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about_team {
    padding: 30px 0;

    .subtitle {
      font-size: 16px;
    }

    .title {
      font-size: 22px;
      margin-bottom: 0;
    }

    .boxs {
      margin-top: 30px;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
    }
  }
}
// end about_team
