$primary-color: #405fff;
$dark-color: #0e0d16;

// start category_section
.category_section {
  padding: 50px 0;

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;

    .box {
      flex-direction: column;
      gap: 8px;
      position: relative;

      &:hover {
        .image {
          img {
            transform: scale(1.1);
          }
        }

        .title_box {
          color: $primary-color;
        }
      }

      .text {
        margin-top: 10px;
      }

      .type {
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        background-color: $primary-color;
        padding: 3px 12px;
        border-radius: 5px;
      }

      .title_box {
        font-size: 21px;
        font-weight: 700;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 10px;

        .author {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }

          span {
            font-weight: 500;
            font-size: 15px;
          }
        }

        .date {
          display: flex;
          align-items: center;
          gap: 5px;
          color: gray;

          i {
            font-size: 13px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .image {
        width: 100%;
        height: 260px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          transition: all 0.4s;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .category_section {
    padding: 30px 0;
  }
}
// end category_section
