$primary-color: #0d5eaf;
$dark-color: #0e0d16;

.ad_space {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .container {
    height: 100%;
  }

  .image_banner {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// start hero_section
.hero_section {
  height: 75vh;

  .swiper {
    height: 100%;

    .swiper-wrapper {
      height: 100%;

      .swiper-slide {
        height: 100%;

        .item {
          height: 100%;
          background-image: url(../images/swiper-img3.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white !important;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to bottom,
              transparent 0,
              rgba(49, 49, 49, 0.5) 100%
            );
          }

          .content {
            position: relative;
            z-index: 20;
            text-align: center;

            .type {
              padding: 4px 11px;
              border-radius: 4px;
              color: white;
              background-color: #6b34ba;
              width: fit-content;
              margin: auto;
              font-size: 13px;
              font-weight: 500;
              margin-bottom: 10px;
            }

            .title {
              font-size: 48px;
              font-weight: 600;
              max-width: 700px;
              margin: auto;
              margin-bottom: 15px;
            }

            .details {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 20px;

              .author {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                }

                span {
                  font-weight: 500;
                  font-size: 15px;
                }
              }

              .date {
                display: flex;
                align-items: center;
                gap: 5px;

                span {
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          .item {
            background-image: url(../images/swiper-img.jpg);

            .content {
              .type {
                background-color: #f74539;
              }
            }
          }
        }

        &:nth-child(3) {
          .item {
            background-image: url(../images/swiper-img2.jpg);

            .content {
              .type {
                background-color: #d66300;
              }
            }
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      z-index: 1;
      font-size: 20px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100px;
      opacity: 1 !important;

      &::after {
        font-size: 17px;
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet-active {
        background: $primary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero_section {
    height: 70vh;

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .item {
            .content {
              .type {
                padding: 2px 10px;
                font-size: 12px;
                margin-bottom: 5px;
              }

              .title {
                font-size: 28px;
                margin-bottom: 7px;
              }
            }
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
}
// end hero_section

// start trending_topics
.trending_topics {
  padding: 50px 0;

  .title {
    font-weight: 700;
    margin-bottom: 30px;
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;

    .box {
      height: 180px;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      color: white !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .text {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        h3 {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .trending_topics {
    padding: 30px 0;

    .title {
      font-size: 20px;
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 15px;

      .box {
        height: 150px;

        .text {
          bottom: 10px;

          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
// end trending_topics

// start apps_category_ad
.apps_category_ad {
  padding: 80px 0;

  .line {
    display: flex;
    gap: 40px;

    .left {
      width: 70%;
      background-color: rgb(233, 233, 233);
      border-radius: 10px;

      .image_banner {
        display: block;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }

    .right {
      width: 30%;

      .boxs_title {
        font-size: 22px;
        font-weight: 700;
        color: #333;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(219, 219, 219);
      }

      .boxs {
        margin-top: 30px;

        .box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 40px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .type {
            padding: 3px 10px;
            border-radius: 4px;
            color: white;
            background-color: $primary-color;
            width: fit-content;
            font-size: 10px;
            font-weight: 500;
            margin-bottom: 5px;
          }

          .box_title {
            font-size: 20px;
            margin-bottom: 5px;
          }

          .date {
            display: flex;
            align-items: center;
            gap: 5px;
            color: gray;

            span {
              font-size: 14px;
              font-weight: 500;
            }
          }

          .image {
            img {
              border-radius: 10px;
              width: 120px;
              height: 120px;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .apps_category_ad {
    padding: 40px 0;

    .line {
      flex-direction: column;
      gap: 30px;

      > div {
        width: 100% !important;
      }

      .left {
        height: 300px;
      }

      .right {
        .boxs_title {
          font-size: 20px;
          padding-bottom: 10px;
        }

        .boxs {
          .box {
            .type {
              padding: 2px 7px;
              margin-bottom: 3px;
            }

            .box_title {
              font-size: 18px;
            }

            .date {
              i {
                font-size: 13px;
              }

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
// end apps_category_ad

// start category_posts
.category_posts {
  padding: 80px 0;

  .title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
  }

  .line {
    display: flex;
    align-items: center;
    gap: 40px;

    .left {
      width: 40%;

      .boxs {
        .box {
          display: flex;
          align-items: center;
          gap: 20px;

          &:hover {
            .image {
              img {
                transform: scale(1.1);
              }
            }

            .title_box {
              background-size: 100% 2px;
            }
          }

          &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgb(228, 228, 228);
          }

          .image {
            img {
              width: 120px;
              height: 120px;
              object-fit: cover;
              transition: all 0.4s;
              border-radius: 10px;
            }
          }

          .text {
            .type {
              color: $primary-color;
              font-weight: 500;
              margin-bottom: 2px;
            }

            .title_box {
              font-size: 22px;
              font-weight: 700;
            }
          }
        }
      }
    }

    .right {
      width: 60%;

      .main_box {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        display: block;

        &::before {
          position: absolute;
          content: "";
          opacity: 0.6;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 300px;
          transition: all 0.5s;
          z-index: 1;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            #000000 100%
          );
        }

        img {
          width: 100%;
          height: 100%;
        }

        .text {
          position: absolute;
          bottom: 40px;
          left: 40px;
          color: white;
          z-index: 20;

          .type {
            color: $primary-color;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }

          .title_box {
            font-weight: 700;
            font-size: 29px;
            max-width: 600px;
            transition: all 0.4s;
          }
        }
      }
    }
  }

  &.v2 {
    background-color: $dark-color;
    color: white;

    .line {
      > div {
        width: 50% !important;
      }

      .left {
        .boxs {
          display: grid !important;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 30px;

          .box {
            flex-direction: column;
            gap: 8px;

            &:not(:last-child) {
              margin-bottom: 0;
              padding-bottom: 0;
              border-bottom: none;
            }

            .type {
              font-size: 15px;
            }

            .title_box {
              font-size: 18px;
            }

            .image {
              width: 100%;
              img {
                width: 100%;
                height: 190px;
              }
            }
          }
        }
      }

      .right {
        .main_box {
          &::before {
            content: unset;
          }

          img {
            border-radius: 10px;
            height: 475px;
            object-fit: cover;
          }

          .text {
            position: unset;
            margin-top: 10px;

            .type {
              font-size: 15px;
              margin-bottom: 0px;
            }

            .title_box {
              font-size: 25px;
              max-width: 500px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .category_posts {
    padding: 40px 0;

    .title {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .line {
      flex-direction: column;
      gap: 30px;

      > div {
        width: 100% !important;
      }

      .left {
        .boxs {
          .box {
            gap: 15px;

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            .text {
              .title_box {
                font-size: 19px;
              }
            }
          }
        }
      }

      .right {
        .main_box {
          .text {
            bottom: 10px;
            left: 15px;

            .type {
              font-size: 15px;
              margin-bottom: 4px;
            }

            .title_box {
              font-size: 20px;
              max-width: 300px;
            }
          }
        }
      }
    }

    &.v2 {
      .line {
        > div {
          width: 100% !important;
        }

        .right {
          .main_box {
            img {
              height: 275px;
            }

            .text {
              .type {
                font-size: 14px;
              }

              .title_box {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
// end category_posts

// start category_boxs
.category_boxs {
  padding: 50px 0;
  background-color: #f6f6f6;

  .title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .box {
      flex-direction: column;
      gap: 8px;
      position: relative;

      .text {
        margin-top: 10px;
      }

      .type {
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        background-color: $primary-color;
        padding: 3px 12px;
        border-radius: 5px;
      }

      .title_box {
        font-size: 19px;
        font-weight: 700;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 5px;

        .author {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          span {
            font-weight: 500;
            font-size: 15px;
          }
        }

        .date {
          display: flex;
          align-items: center;
          gap: 5px;
          color: gray;

          i {
            font-size: 13px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .image {
        width: 100%;
        img {
          width: 100%;
          height: 190px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .category_boxs {
    .title {
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
}
// end category_boxs
